global
    log stdout  format raw  local0
    maxconn 4096
    tune.ssl.default-dh-param 2048

defaults
    mode                tcp
    log                 global
    option              tcplog
    timeout connect     5s
    timeout client      30s
    timeout server      30s

# tcp proxy for k8s regist
frontend k8s_regist_front
    bind {{ haproxy.bind }}:9345
    option tcplog
    mode tcp
    default_backend k8s_regist_back

backend k8s_regist_back
    mode tcp
    balance roundrobin
    option tcp-check
    # RKE2 server nodes
    {% for server in haproxy.servers %}
    server {{ server.name }} {{ server.ip }}:9345 check
    {% endfor %}

# tcp proxy for k8s api
frontend http_front
    bind *:80
    mode tcp
    option tcplog
    default_backend k8s_api

frontend https_front
    bind *:443
    mode tcp
    option tcplog
    default_backend k8s_api

frontend k8s_api_front
    bind *:6443
    mode tcp
    option tcplog
    default_backend k8s_api

backend k8s_api
    mode tcp
    balance roundrobin
    option tcp-check
    # RKE2 server nodes
    {% for server in haproxy.servers %}
    server {{ server.name }} {{ server.ip }}:9345 check
    {% endfor %}


# HAP status page
listen stats
    bind 0.0.0.0:8404
    mode http
    stats enable
    stats uri /haproxy?stats
    stats refresh 10s
