---
{% if not temporary_config %}
server: https://{{ lb.vip }}:9345
token: "{{ rke2_node_token | trim }}"
{% endif %}
cni: calico
tls-san:
  - "{{ lb.vip }}"
node-taint:
  - "CriticalAddonsOnly=true:NoExecute" # Never doing user workload (Only ControlePlane+etcd)
