[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-core = "*"
#bitwarden-sdk = {git = "https://github.com/davzoku/sdk-sm.git", ref = "fix_pip_install_build_error", subdirectory = "crates/bitwarden-py"}
#bws = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
